@{
    ViewBag.Title = "Home Page";
}

<div class="bs-calltoaction bs-calltoaction-default">
    <h1>Missionary Work</h1>
    <p class="lead">Connect with past missionaries to increase knowledge and potential!</p>
    <p><a href="https://www.lds.org/callings/missionary?lang=eng" class="btn btn-primary btn-lg">Go for it! &raquo;</a></p>
</div>


<div class="row">
    <div class="col-md-3">
        <div class="text-left">
            <h2>The Spirit</h2>
            <p>
                The Holy Ghost is the third member of the Godhead. He is a personage of spirit, without a body of flesh and bones.
                He is often referred to as the Spirit, the Holy Spirit, the Spirit of God, the Spirit of the Lord, or the Comforter.
            </p>
            <p><a class="btn btn-default" href="https://www.lds.org/scriptures/nt/john/14.26">John 14:26 &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="text-center">
            <h2>Jesus is the Christ</h2>
            <video width="500" height="375" autoplay controls>
                <source src="http://ldsudso-a.akamaihd.net/66852713001/66852713001_3457252171001_2014-00-1420-because-of-him-1080p-eng.mp4?playerId=1559555099001&lineupId=&affiliateId=&pubId=624246188001&videoId=3453545792001" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
    <div class="col-md-3">
        <div class="text-right">
            <h2>God the Father</h2>
            <p>
                God the Father is the Supreme Being in whom we believe and whom we worship. He is the ultimate Creator,
                Ruler, and Preserver of all things. He is perfect, has all power, and knows all things. He “has a body of
                flesh and bones as tangible as man’s” <a href="https://www.lds.org/scriptures/dc-testament/dc/130.22">(D&C 130:22).</a>
            </p>
            <p><a class="btn btn-default" href="https://www.lds.org">Learn more &raquo;</a></p>
        </div>
    </div>
</div>